


.App-header {
  text-align: left;
  background-color: #c2e5f5;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 200px;
}

.ui.list {
  width: 120px !important;
}

.item {
  width: 120px !important;
}

.border-1{
  border: 1px solid white;
  padding: 10px;
  }

  .ui.checkbox.checkboxStyle {
    border-radius: 18px;
    height: 30px;
    width: 180px;
    font-size: large;
    font-weight: bold;
    text-decoration-color: white !important;
    color: white !important;
  }

  .ui.selection.dropdown {
    min-height: auto !important;
    height: 60px;
  }

  /*
  .ui.form textarea {
    width: 600px !important;
    font-size: 1em !important;
  }
  */

  .App-body {
    background-color: red;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }

  .custom-no-padding {
    padding: 0px !important;
  }

  .small-list {
    height: 40px !important;
  }

.padded-textarea {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}